<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="header">
        <h2 *ngIf="skillSet.length > 0; else elseBlock">Below are my skill set:</h2>
        <ng-template #elseBlock>Currently there is no skill on the list</ng-template>
      </div>
      <div class="row tag-list" *ngIf="skillSet.length > 0">
        <div class="col-md-2 tag">ID</div>
        <div class="col-md-4 tag">Skill Name</div>
        <div class="col-md-4 tag">Years of Exp</div>
        <div class="col-md-2 tag"></div>
      </div>
      <div>
        <skill-component *ngFor="let term of skillSet; let i=index" [skill]="term" [index]="i"></skill-component>
      </div>
      <hr>
      <div class="row">
        <input-form></input-form>
      </div>

  </div>
</div>
