<div class="container row">
  <form [formGroup]="updateForm">
    <div class="form-group col-md-10">
      <label for="skillName">Input skill to list:</label>
      <input type="text" formControlName="skillName" id="skillName" class="form-control" [(ngModel)]="skill.skillName" required>
      <div [hidden]="skillName.valid || skillName.pristine" class="alert alert-danger">
        Skill name is can not be empty
      </div>
    </div>
    <div class="form-group col-md-10">
      <label for="years">Years of exp:</label>
      <input type="number" formControlName="years" [(ngModel)]="skill.numYears" class="form-control" id="years" required>
      <div [hidden]="years.valid || years.pristine" class="alert alert-danger">
        years can not be empty
      </div>
    </div>
    <div class="col-md-4">
        <div class="col-md-4">
          <button class="btn btn-success" (click)="submitChange()">Make change</button>
        </div>
        <div class="col-md-4">
          <button class="btn btn-warning" (click)="clearInput()">Clear</button>
        </div>
        <div class="col-md-4">
          <button class="btn btn-danger" (click)="navBack()">Back to list</button>
        </div>
    </div>
  </form>
</div>
