<div>
  <h3 [highlightDirective]="'orange'">this app is build by {{name}}</h3>
</div>
<div>
  <h5 *ngIf="skillSet.length > 0; else elseBlock">below are my skill set:</h5>
  <ng-template #elseBlock>Currently there is no skill on the list</ng-template>
  <div class="row" *ngIf="skillSet.length > 0">
    <div class="col-md-6">Skill Name</div>
    <div class="col-md-3">Years of Exp</div>
    <div class="col-md-3"></div>
  </div>
  <skill-component *ngFor="let term of skillSet; let i=index" [skill]="term" [index]="i" (itemDeleted)="getIndex($event)"></skill-component>
  <hr>
  <input-form (onSkillAdded)="addSkills($event)"></input-form>
</div>
<hr>
<app-reqest></app-reqest>
